@import "config";

.header__content {
  border: 1px, solid, $colBlack;
}

.header {
  height: $s48*6;
  font-family: $font-heading;
  text-align: center;
<<<<<<< HEAD
  background-image:
    url ("../img/header.jpg"),
    linear-gradient(rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2));
=======
  background-image: url("../img/header.jpg");
>>>>>>> 5e51816e5095ebacec722bccafd6ed961fd70da7
  background-repeat: no-repeat;
  background-size: cover;

  &.lecture {
    background-image: url("../img/code.jpg");
  }

  .protection {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .content {
    padding-top: $s48*2;
    padding-bottom: $s48*3;

    &__class {
      font-size: $s16;
    }

    &__title {
      font-size: $s48;
    }
  }
}
