@import "config";

html {
  font-size: 16px;
}

.header__content {
  border: 1px, solid, $colBlack;
}

header {
  height: $s48*6;
  font-family: $font-heading;
  text-align: center;
  background-image:
    url ("../img/header.jpg"),
    linear-gradient(rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2));
  background-repeat: no-repeat;
  background-size: cover;

  &.lecture {
    background-image:
      url("../img/code.jpg"),
      linear-gradient(rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2));
  }
}

.protection {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.content {
  padding-top: $s48*2;
  padding-bottom: $s48*3;

  &__class {
    font-size: $s16;
  }

  &__title {
    font-size: $s48;
  }
}
