@import "config";
.lecture-page{
    max-width: 1200px;
}
.lect{
   // margin:auto;
    @media(min-width:800px){
     margin: $columns(3);
    }
    &__content{
       // margin:20px;

    }
    &__text{
        font-size: $baseSize;
        font-family: $font-main;
    }
    &__vid{
        margin:20px;
      }
    &__caption{
        font-style:italic;
    }
    &__img{
      max-width:100%;
    }
}
.quote{
    background-color:$colMediumGrey;
    height: 100px;
    //align-content: center;
    font-family: $font-main;
    margin: 20px 0;
}

blockquote{
    padding: 20px;
}
.list{
    margin:20px;
}
.code{
    margin:20px 0;
}
.done{
    text-align:center;
}




