@import "config";
*{
    max-width: 1200px;
}
.lect{
    margin:auto;
    @media(min-width:800px){
      @include columns(8);
    }
    &__text{
        margin-top:24px;
        font-size: $baseSize;
        font-family: $font-main;
    }
    &__vid{
        margin-top:24px;
        text-align:center;
        height:100%;
      }
    &__caption{
        font-style:italic;
    }
}
.quote{
    background-color:$colMediumGrey;
    height: 100px;
    font-family: $font-main;
    margin: 20px 0;
}
blockquote{
   padding: 20px;
}
.list{
    margin-top:20px;
  &__item{
    font-family:$font-main;
  }
  }
.code{
    margin:20px 0;
}
.done{
    justify-content: center;
    margin:auto;
    text-align: center;
}
h1{
  font-family: $font-heading;
}
iframe{
  width:100%;
  height: 100%;
}
.youtube{
  height: 400px;;
}
.txt{
  margin: 24px 0;
}




