@import "config";
@import "header";
@import "button";
@import "lectures";
//á eftir að bæta við fleiru
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  //font-family: $font-heading;
  font-size: 16px;
}

img {
  /* stylelint-disable-line */
  max-width: 100%;
}

.c-TODO {
  display: none;
}
.buttons{
  display:flex;
  justify-content: center;
  margin-top:$baseSize;
}

.cards {
  overflow: hidden;
  max-width:1200px;

  &__row {
    display: flex;
    //flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  &__col {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
}
.card{
  cursor: pointer;
  &__title{
    color:$colBlack;
    font-weight: 900;
    font-size:$gutter;
    //font-family:$font-heading;
  }
  &__content{
    background-color:$colDarkGrey;
  }
}
